@media screen and (max-width: 576px) {
  /* navbar start */
  nav {
    gap: 78%;
    padding: 20px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }

  .logo h1 {
    display: none;
  }

  .nav_bar {
    display: none;
  }

  .contact_button {
    display: none;
  }

  .bars {
    display: block;
  }
  /* navbar end */

  /* hero section responsive start */
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }

  .hero_content h1 {
    font-size: 2rem;
    margin-top: -30px;
  }

  .enroll_now {
    font-size: 1rem;
    padding: 8px 37px;
  }

  .hero_image img {
    width: 100%;
  }
  /* hero section responsive end */

  /* curriculum section responsive start */
  .curriculum {
    padding: 0 0 30px 0;
  }

  .curriculum h2 {
    font-size: 1.9rem;
  }

  .curriculum_card h3 {
    font-size: 1.3rem;
  }

  .curriculum_card {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin-top: -50px;
  }

  .arrow {
    display: none;
  }
  /* curriculum section responsive end */

  /* stories section responsive start */
  .our_stories h2 {
    font-size: 1.9rem;
  }

  .story_first_cards {
    display: none;
  }

  .story_card {
    padding: 20px;
  }

  .story_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
  }

  .story_all_cards img {
    width: 98%;
  }

  .story_cards_button {
    font-size: 0.5rem;
    margin-top: -48px;
  }

  .summer_story_cards_button {
    font-size: 0.4rem;
  }

  .story_cards_contenth3 {
    font-size: 0.5rem;
    padding: 0 0;
  }

  .story_card_content h3 {
    font-size: 0.5rem;
    padding: 0 0;
  }

  .story_cards_content {
    width: 98%;
  }

  .view_all {
    font-size: 1rem;
    padding: 8px 37px;
  }
  /* stories section responsive end */

  /* footer section responsive start */
  footer {
    padding: 65px 0 60px 0;
  }

  .footer_elements {
    flex-direction: column;
    padding: 20px;
  }

  .footer_logo {
    width: 100%;
  }

  .footer_logo p {
    font-size: 1.3rem;
    padding-bottom: 32px;
  }

  .footer_about {
    width: 100%;
    padding-left: 0;
  }

  .footer_about h3 {
    font-size: 1.8rem;
  }

  .footer_about p {
    font-size: 1.4rem;
    padding: 17px;
  }

  .footer_social_media {
    width: 100%;
    padding-left: 0;
  }

  .footer_social_media h3 {
    font-size: 1.8rem;
  }
  /* footer section responsive start */
}
