* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", serif;
}

:root {
  --orange: Orange;
  --Sky-Blue: SkyBlue;
  --Blue: #01acfd;
}

/* marquee start */
marquee{
  color: black;
  font-size: 1.3rem;
  padding-top: 10px;

}

marquee span{
  color: orange;
}
/* marquee end */

/* header style start */
header {
  max-width: 1160px;
  margin: 0 auto;
}
/* header style end */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 20px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  font-size: 1.25rem;
  font-weight: 500;
}

.home {
  color: Orange;
}

.about {
  color: SkyBlue;
}

.facilities {
  color: #05d4df;
}

.admission {
  color: #5d58ef;
}

.bars {
  font-size: 30px;
  display: none;
}

.contact_button {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  background: Orange;
  padding: 16px 61px;
  border-radius: 10px;
  border: none;
}

.contact_button:hover {
  color: white;
  background: black;
  transition: all 0.5s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px 0;
  gap: 52px;
}

.hero_content h1 {
  color: #111111;
  font-size: 3.8125rem;
  font-weight: 700;
  padding-bottom: 24px;
}

.empowering {
  color: var(--orange);
}

.towards_vision {
  color: var(--Blue);
}

.hero_content p {
  color: #111111;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 24px;
}

.enroll_now {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  background: #111111;
  padding: 10px 47px;
  border-radius: 10px;
  border: none;
}

.enroll_now:hover {
  color: black;
  background: orange;
  transition: all 0.5s;
}
/* header style end */

/* curriculum section style start */
.curriculum {
  max-width: 1160px;
  margin: 0 auto;
  background-image: url("../assets/bg.png");
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: top;
}
.curriculum h2 {
  color: black;
  font-size: 2.875rem;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.story_image1 {
  background: white;
}

.curriculum_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  padding-bottom: 80px;
}

.curriculum_cards {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  padding: 50px 40px;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  text-align: center;
}

.school_cards {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.middlem_cards {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum_card h3 {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 33px;
}

.curriculum_card p {
  color: #808080;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-bottom: 38px;
}

.read_more {
  color: #64c8ff;
  font-size: 0.9375rem;
  font-weight: 700;
  background: transparent;
  border: none;
}

.read_more2 {
  color: #f0aa00;
}

.read_more3 {
  color: #8700ff;
}

.arrow {
  text-align: center;
}
/* curriculum section style end */

/* stories section style start */
.our_stories {
  background-image: url("../assets/bg.png"),
    linear-gradient(-0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-position: top;
}
.our_stories h2 {
  color: black;
  font-size: 2.875rem;
  font-weight: 700;
  text-align: center;
  padding-top: 80px;
}

.story_card {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0 80px 0;
  gap: 20px;
}

.story_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.story_card img {
  border-radius: 16px 16px 0px 0px;
}

.story_cards img {
  border-radius: 16px 16px 0px 0px;
}

.story_card_content {
  padding: 34px;
  background: white;
  border-radius: 0px 0px 16px 16px;
  margin-top: -5px;
}

.story_cards_content {
  padding: 34px;
  background: white;
  margin-top: -5px;
  border-radius: 0 0 16px 16px;
}

.story_card_button {
  color: white;
  background: #3cd8e8;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 18px;
  margin-top: -58px;
  position: absolute;
  border-radius: 47px;
  border: none;
}

.story_cards_button {
  color: white;
  background: #95b226;
  font-size: 1rem;
  font-weight: 500;
  padding: 9px 18px;
  margin-top: -53px;
  position: absolute;
  border-radius: 47px;
  border: none;
}

.summer_story_cards_button {
  background: #5d58f0;
}

.story_card_content h3 {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 17px 0 51px 0;
}

.story_cards_contenth3 {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 0 0 0;
}
.story_card_content p {
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.view_all_button{
  text-align: center;
  padding-bottom: 60px;
}

.view_all {
  text-align: center;
  padding-bottom: 60px;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  background: #111111;
  padding: 10px 47px;
  border-radius: 10px;
  border: none;
}
/* stories section style start */

/* footer section style start */
footer {
  background: #01acfd;
  padding: 123px 0 174px 0;
}

.footer_elements {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer_logo {
  width: 40%;
}

.footer_logo_text {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.footer_logo_text h1 {
  color: white;
  font-size: 2.6rem;
  font-weight: 700;
  padding-left: 10px;
}

.footer_logo p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.footer_about {
  width: 30%;
  padding-left: 172px;
}

.footer_about h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 0 32px 0;
}

.footer_about p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 15px;
}

.footer_social_media {
  width: 30%;
  padding-left: 140px;
}

.social_icons {
  display: flex;
  gap: 10px;
}

.footer_social_media h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 0 32px 0;
}
/* footer section style end */
